*~
.DS_Store
node_modules

Gemfile.lock

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!*.xcodeproj/default.*
!**/*.xcodeproj/default.*

.nodectl.json
config/secrets.json

.AppleDouble
.AppleDB
.AppleDesktop

public/forum
public/js
public/css
