extends layout

block info

block navi

block body
  form#auth(action='/auth/signin', method='POST')
    .container
      .bind.stud
        .data.head
          .each Sign in
        .data.form
          .each.field: input(type='text', name='username', placeholder='Username')
        .data.form
          .each.field: input(type='password', name='password', placeholder='Password')
        .data.form
          .each.field: input(type='submit', value='Sign in')
