extends layout

block pagehead

block content
  if user
    if user._id == req.session.user._id
      #status
        .container
          img(src=req.app.get('helper').gravatar(req.session.user.mail, 160))
          p.centering Logged in as <b>#{req.session.user.name}</b>

      #config
        .bubble
          table
            tr.head: th(colspan=2) E-mail address
            tr.browse: td(colspan=2): input(type='text', placeholder='E-mail address')= req.session.user.mail
            tr.head: th(colspan=2) SSH-Keys
            tr.browse
              for key in _.pairs(req.session.user.keys)
                td: div <b>#{_.last(key[1].split(' '))}</b> (#{key[0]})
                td.right: button(disabled).danger Remove
            tr.head: th(colspan=2) Add SSH-Keys
            tr.browse
              td: textarea
              td.right: button(disabled) Add