extends layout

block pagehead

block content
  if user
    if user._id == req.session.user._id
      #status
        .container
          img(src=req.app.get('helper').gravatar(req.session.user.mail, 160))
          p.centering Logged in as <b>#{req.session.user.name}</b>

      #config
        .bubble
          table
            tr.head: th E-mail address
            tr.browse: td
              .label: input(type='text', placeholder='E-mail address')= req.session.user.mail
              .right: button(disabled) Apply
            tr.head: th SSH-Keys
            for key in _.pairs(req.session.user.keys)
              tr.browse: td
                .label <b>#{_.last(key[1].split(' '))}</b> (#{key[0]})
                .right: button(disabled).danger Remove
            tr.head: th Add SSH-Keys
            tr.browse: td
              .label: textarea
              .right: button(disabled) Add
