extends layout

block navi

block body
  form#auth(action='/auth/signin', method='POST')
    .container
      .exterior
        .interior
          .data.head
            .each Sign in
          .data.body: .each.form
            input(type='text', name='username', placeholder='Username')
          .data.body: .each.form
            input(type='password', name='password', placeholder='Password')
          .data.body: .each.form
            input(type='submit', value='Sign in')

block foot
